$primary-color: #FFB88C;
$secondary-color: #DE6262;

.body{

  background: $secondary-color; /* fallback for old browsers */
  background: -webkit-lin ear-gradient(to right, $secondary-color, $primary-color); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, $secondary-color, $primary-color);
  height: 100vh;
  overflow: hidden;
}
.nav-alignment{
  margin-left:0;
}
